<appSettings>

  <add key="DEBUG_MODE" value="True"/>
  
  <!--======================================================-->

  <add key="SisclimedConnectionString" value=""/>

  <add key="SisclimedConnectionString" value ="SUA STRING DE CONEXÃO"/>

  <add key="SisclimedConnectionString_Debug" value ="SUA STRING DE CONEXÃO"/>
  
  <add key="Site" value ="http://localhost:14459/"/>
  
  <add key="SendEmailsDebug" value ="SEU EMAIL"/>

  <add key="SendEmailsTo" value ="SEU EMAIL"/>

  <add key="SendEmailHost" value ="smtp.gmail.com"/>

  <add key="SendEmailPort" value ="587"/>

  <add key="SendEmailUsername" value ="SEU EMAIL"/>

  <add key="SendEmailPassword" value ="SUA SENHA"/>

  <add key="SendEmailSSL" value ="true"/>
  
  <!--======================================================-->
  
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
</appSettings>
